body 
{
background: rgba(247, 247, 45, 0.41); 
}

header
{
   background: rgba(25, 255, 34, 0.35);
   COLOR : #fff;
   padding: 0.5em;
   overflow: hidden;
}    

}
header #img  

{
    
top:1px;    
width: 64px;
border-right: 1px solid white;
margin-right: 0.5em;
padding-right: 0.8em;
    
}

    
header #img img

{
    
    margin: 2em 0.5em 0 0;
    position:absolute;
    right: 0;
    top: -3em;
}   

    
menu 

{
  background: rgba(25, 255, 34, 0.35);
  padding: 0;
  margin: 0;
  position: relative;
  box-shadow: : rgba(0,0,0,0.5);
}
    
}
menu ul

{
  list-style: none;
  padding: 0 ; 
    
   margin: 1em  70px 0 0;  
}




menu ul li
{  
display:inline-flex;
 font-size:30px;
padding: 1em;     
}



menu ul li 

{
    display: inline-block;
    margin: 0 1em 0 0;     
}